body {
  font-family:  'Lato', 'Segoe UI', -apple-system, BlinkMacSystemFont, sans-serif;
  margin: 0px;
  padding: 0px;
  background-color: #121212;
  color: rgba(255,255,255,.87);
}

.theme {

}

/* <Header /> */
